body {
  background:#333;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:sans-serif;
}

.phone {
  width:360px;
  height:640px;
  background:#000;
  border-radius:30px;
  padding:10px;
}

.screen {
  width:100%;
  height:100%;
  background:url('../assets/default_bg.jpg') no-repeat center/cover;
  display:none;
  position:relative;
}

.screen.active {
  display:block;
}

#time-widget {
  background:rgba(255,255,255,1);
  padding:10px;
  border-radius:10px;
  margin:20px;
}

.apps {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  padding:20px;
}

.apps button {
  padding:10px;
  border-radius:12px;
}
